<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <%= "Team Name: #{@param[:name]}" %>
   <%= "Coach: #{@param[:coach]}" %>
   <%= "Point Guard: #{@param[:pg]}" %>
   <%= "Shooting Guard: #{@param[:sg]}" %>
   <%= "Small Forward: #{@param[:sf]}" %>
   <%= "Power Forward: #{@param[:pf]}" %>
   <%= "Center: #{@param[:c]}" %>
 </body>
</html>
